/* ------------------------------------------------------- *
 * - Global     ------------------------------------------ *
 * ------------------------------------------------------- */

body{
	margin:0px;
	padding:0px;
	font-size:.9em;
	font-family: Arial, Helvetica, sans-serif;
	color: #61615F;
	background-image:url(../images/backgroundFade.png);
	background-repeat: repeat-x;
	background-color:#0a6696;
}

h1{
	font-size:1.8em;
	color:#00a6e6;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
	padding: 0px;
	line-height:1.2em;
}

h2{
	font-size:1.4em;
	color:#00a6e6;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

h3{
	font-size:1.1em;
	color:#000;
	font-weight: bold;
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

a, a:visited{
	color:#00a6e6;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
border:0;
}

a.smaller{
	font-size:0.85em;
}

p.smaller{
	font-size:0.85em;
}

.smaller{
	font-size:0.85em;
}

.clear{
	clear:both;
}

/* ------------------------------------------------------- *
 * - Main Layout Divs   ---------------------------------- *
 * ------------------------------------------------------- */

#contentContainer{
	position: relative;
	top:0px;
	width:899px;
	margin-left:auto;
	margin-right:auto;
	
	/*Min Height Hack - http://www.dustindiaz.com/min-height-fast-hack */
	min-height: 600px;
	height: auto !important;
	height: 600px;
}

#content{
	position:relative;
	background-color:#FFF;
	width:820px;
	margin:0px auto;
	padding:5px 20px 75px 20px;
	overflow: auto;
}

/* used for some pages which don't need the full width*/
#contentNarrow{
	width:625px;
	margin-left:auto;
	margin-right:auto;
}

/* ------------------------------------------------------- *
 * - Header     ------------------------------------------ *
 * ------------------------------------------------------- */

#headerBar{
	position:relative;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
	height:89px;
}

#headerBarLinks{
	position:absolute;
	bottom:5px;
	right:26px;
	color:#FFF;
	font-size:12px;
}

#navBar{
	background-image: url(../images/backgroundNavBar.png);
	background-repeat: no-repeat;
	position: relative;
	width:100%;
	height: 51px;
}

#navBarLinks{
	position:absolute;
	left:25px;
	top:10px;
	width:100%;
}

#navBarLinks a{
	color:#FFF;
	font-size:24px;
	font-weight:normal;
	margin-right:16px;
}

#navBarSearchBox{
	position:absolute;
	right:25px;
	top:15px;
}

/* ------------------------------------------------------- *
 * - Footer     ------------------------------------------ *
 * ------------------------------------------------------- */


#footer{
	width:500px;
	margin: 50px auto 100px auto;
}

/* ------------------------------------------------------- *
 * - Profile     ------------------------------------------ *
 * ------------------------------------------------------- */

.profile_metadata{
	margin-top:5px;
	width:400px;
}

.profile_metadataLabel{
	font-weight:bold;
}

.profile_memberSince{
	margin-top:-8px;
	margin-bottom:5px;
}


/* ------------------------------------------------------- *
 * - Forms      ------------------------------------------ *
 * ------------------------------------------------------- */

form.delphiForm{
	width:465px;
}

form.delphiForm label{
	font-size:.9em;
	font-weight:bold;
	margin-top:15px;
	display:block;
}

form.delphiForm .buttonRow{
	margin-top:10px;
}

form.delphiForm fieldset {
	margin-bottom:20px;
	padding:0px 20px 20px 20px;
	border:1px solid #cdcdc9;
}

form.delphiForm legend {
	font-size:1.1em;
	color:#000;
	font-weight: bold;
	padding: 0px;
	margin:0px;
}

/*Should be applied to all textarea and text input fields*/
.delphiFormInput{
	padding:2px 2px 2px 4px;
	border:1px solid #603913;
}

/* Used for styling grey help text that appears in form fields. */
label.overlabel-apply {
	display:inline;
	margin-top:0px;
	position:absolute;
	top:5px;
	left:8px;
	z-index:1;
	font-size:12px;
	font-weight: normal;
	color:#61615f;
}

.formError{
	padding:20px;
	color:#F00;
	font-weight:bold;
}

.requiredFieldIndicator{
	color:#F00;
}

/* ------------------------------------------------------- *
 * - Messages -------------------------------------------- *
 * ------------------------------------------------------- */

#messageBox{
	border: 1px solid #999;
	width: 100%;
	height:40px;
	margin:5px auto 5px auto;
	padding:0px;
	color:#000;
	background-color: green;
	text-align:center;
}


/* ------------------------------------------------------- *
 * - Browser    ------------------------------------------ *
 * ------------------------------------------------------- */

#browserDiv {
	position:relative;
}

#browserTabs{
	position:absolute;
	left:0px;
	top:0px;
}

.browser_topLevelFacet{
	left:7px;
	position:relative;	
	width:181px;
	border:1px solid #cdcdc9;
	padding:7px 15px 5px 0px;
	background-color:#f2f1ee;
	color:#00a6e6;
	font-size:16px;
	text-align:right;
	cursor: pointer;
}	

.browser_topLevelFacetSelected{
	z-index:1;	
	left:0px;
	border-right:0px;
	width:189px;
	background-color:#FFF;
	font-weight:bold;
	cursor: default;
}

.browser_browsePane{
	display:none;
	margin-left:204px;
	width:375px;
	border:1px solid #cdcdc9;
	padding:10px 20px 20px 20px;
	height:400px;
	overflow:auto;
} 

.browser_browsePaneSelected{
	display:block;
}

.browser_browsePane * ul {
	list-style-type:none;
}

.browser_browsePane * li.treeCat span {
	text-decoration:underline;
	cursor:pointer;
	color:#00a6e6;
}


/* ------------------------------------------------------- *
 * - FRONT ----------------------------------------------- *
 * ------------------------------------------------------- */
#front_tongue{
	position:absolute;
	left:70px;
	z-index: 1;
	background-image: url(../images/tongue.gif);
	background-repeat: no-repeat;
	width:246px;
	height: 240px;
	padding: 18px 25px 10px 25px;
	top:0px;
}

#front_tongue h1, #front_tongue p, #front_tongue a{
	color:#FFF;
}


#front_featuredObjects{
	position:absolute;
	left:95px;
	top:280px;
	width:253px;
	padding: 0px;
}

div.front_example{
	float:left;
	width:95px;
	border: 1px solid #cdcdc9;
	margin-right:9px;
	margin-bottom:9px;
	padding:8px 8px 4px 8px;
	/*Min Height Hack - http://www.dustindiaz.com/min-height-fast-hack */
	min-height: 132px;
	/* height:auto !important; */
	height: 132px;
}

div.thumb_img_wrapper95{
	width:95px;
	height:98px;
	border-style:none;
	padding:0;
}

div.thumb_img_wrapper173{
	width:173px;
	height:176px;
	border-style:none;
	padding:0;
}


img.thumb{
	border:0px;
}

img.thumb_unk95{
	width:95px;
	height:95px;
	border:0px;
}

img.thumb_unk173{
	width:173px;
	height:173px;
	border:0px;
}



.thumbLabel{
	font-size:.9em;
	width:100%;
	text-align:center;
}

.thumbLabel a, .thumbLabel abbr{
	text-decoration: none;
    border-style: none;
	color:#61615f;
}

div.front_fset .thumbLabel{
	font-size:1.2em;
	text-align:left;
	color:#61615f;
}


div.front_fset .thumbLabel a {
	text-decoration: none;
    border-style: none;
	color:#61615f;
}

div.front_example a:hover abbr,
div.results_result a:hover abbr,
div.front_fset a:hover abbr {
	text-decoration: underline;
	color:#0094df;
}

div.front_example a:link img,
div.front_example a:visited img,
div.results_result a:link img,
div.results_result a:visited img,
div.front_set a:link img,
div.front_set a:visited img 
{
	border: 1px solid #FFF;
}

div.front_example a:hover img,
div.front_example a:active img,
div.results_result a:hover img,
div.results_result a:active img,
div.front_set a:hover img,
div.front_set a:active img {
	border: 1px solid #0094df;
}

#front_greyCol{
	float:right;
	width:425px;
	background-color:#f2f1ee;
	padding-left:70px;
	padding-bottom:40px;
}

.front_fset{
	position:relative;
	float:left;
	border: 1px solid #cdcdc9;
	padding: 8px 8px 0px 8px;
	margin-right:17px;
	margin-bottom:17px;
	width:173px;
	/*Min Height Hack - http://www.dustindiaz.com/min-height-fast-hack 
	min-height: 240px;
	height:auto !important;
	*/
	height: 240px;
}

.ownerLabel{
	position:absolute;
	bottom:8px;
	right:8px;
	color:#61615f;
	font-size:.8em;
}

.ownerLabel span.ownerName{
	color:#f7941d;
}

/* ------------------------------------------------------- *
 * - RESULTS --------------------------------- *
 * ------------------------------------------------------- */

#results_menuCol{
	width:260px;
	float:left;
}

#results_resultsCol{
	width:530px;
	margin-left:275px;
	text-align:center;
}

.results_object{
	background: #FFF;
	float:left;
	margin:10px 0px 0px 10px;
	width:100px;
	height:119px;
	padding:10px 5px 5px 5px;
	border: 1px solid #cdcdc9;
	overflow:hidden;
}

.results_objectThumb div{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

div.resuts_objectDetails{
	text-align:center;
}


#results_filterContainer h2{
	padding: 0;
	margin: 4px 0;
	color:black;
}

#results_searchFilters,
#results_keywordForm {
	/* margin-left: 10px; */
}

#results_keywordForm {
	padding-top: 4px;
}

#results_keywordForm {
	margin-top: 5px;
}

.results_filterFacet{
	margin-top: 5px;
	font-weight: bold;
}

.results_filterName{
	margin-left: 10px;
	color:#555;
}

#results_filterContainer, 
#results_categoriesContainer, 
#results_NarrowKwdsContainer{
	padding: 0;
	margin: 0;
	padding-top: 4px;
	line-height: 1.2em;
}

#results_categoriesContainer h2,
#results_categoriesContainer h4 {
	padding: 0;
	margin: 8px 0;
}

#results_categoriesContainer h2,
#results_NarrowKwdsContainer h2 {
	/* margin-top: 12px; */
	color:black;
}

#results_categoriesContainer h4 {
	color:#555;
}

#results_categoriesContainer ul {
	padding: 0;
	margin: 0;
	margin-left: 20px;
	list-style-type:disc;
}

#results_categoriesContainer ul * ul {
	margin-left: 10px;
}

#results_categoriesContainer * li.treeCat a {
	text-decoration:underline;
	cursor:pointer;
	color:#00a6e6;
}


#results_pagerCount{

}

#results_pagerLinks{
	clear:both;
}

#results_thumbnails{

}

/* ------------------------------------------------------- *
 * - DETAIL ---------------------------------------------- *
 * ------------------------------------------------------- */

#detail_imageCol {
	float: left;
	width: 410px;
	margin-top: 30px;
	padding: 0px;
}


#detail_infoCol {
	float: right;
	width:315px;
	margin-top: 30px;
	padding: 0px 10px 10px 0px;
	background-color: #FFF;
	line-height: 1.2em;
}

#detail_infoCol h1.name, #detail_infoCol #cats_label  {
	color:black;
}

#detail_infoCol #desc_label, #detail_infoCol .facet_name {
	color:#555;
}

#detail_infoCol ul {
	padding: 0;
	margin: 0;
	margin-left: 20px;
	list-style-type:disc;
}

#detail_infoCol ul * ul {
	margin-left: 10px;
}

#detail_infoCol * li.treeCat {
	text-decoration:underline;
	cursor:pointer;
	color:#00a6e6;
}

.detail_publicSetlet{
	float:left;
	margin-top:10px;
	margin-left:10px;
	padding:0px;
	clear:both;
}

.detail_publicSetletThumb{
	float:left;
	background: #FFF url(../images/setFrame_s.gif) no-repeat scroll;
	padding:6px 7px 4px 3px;
	height:40px;
	width:40px;
}

.detail_publicSetletDetails{
	float:left;
	margin-left:10px;
}
#detail_publicSetletAllLink{
	padding-top:15px;
	clear:both;
}

.detail_personalSetlet{
	background: #FFF url(../images/setFrame_m.gif) no-repeat scroll;
	float:left;
	margin:10px 0px 0px 10px;
	width:80px;
	height:109px;
	padding:10px 10px 5px 5px;
}

.detail_personalSetletThumb div{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

.detail_personalSetletDetails{
	text-align:center;
}

#detail_personalSetletLinks{
	padding-top:15px;
	padding-bottom:8px;
	clear:both;
}

#detail_tagList{
	padding-top:7px;
}

.detail_tag{
	padding-bottom:2px;
}

#detail_mediaBox {
	margin:0px 0px 40px 0px;
	padding:15px;
	border:1px solid #cdcdc9;
	width:375px;
}

#detail_thumbnails{
	overflow:auto;
}

.detail_thumbnail{
	float:left;
	padding:3px;
	border:1px solid #FFF;
	margin-right:10px;
	margin-bottom:10px;
}

.detail_thumbnailSelected{
	border:1px solid #00a6e6;
}

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0px;
	height: 42px; /* IE 6 treats height as min-height */
    min-height: 42px;
	position:relative;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0px;
	position:absolute;
	bottom:-1px;
    min-width: 84px; /* be nice to Opera */
}

.detail_setsTabLI{
	left:0px;
}

.detail_tagsTabLI{
	left:83px;
}

.ui-tabs-nav a {
	display: block;
    padding: 5px 5px 12px 8px;
    text-decoration: none;
	background-color:#f2f1ee;
	border:1px solid #cdcdc9;
	font-size:1.4em;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected a {
    padding: 7px 5px 12px 8px;
    z-index: 2;
	background-color:#fff;
	font-weight: bold;
	border-bottom:1px solid #fff;
}


.ui-tabs-container {
    border: 1px solid #cdcdc9;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
	padding:8px;
}

*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}

.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, .ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}


/* ------------------------------------------------------- *
 * - My SETS --------------------------------------------- *
 * ------------------------------------------------------- */

.setlet_Large{
	background: #FFF url(../images/setFrame_l.gif) no-repeat scroll;
	float:left;
	margin:20px 0px 0px 20px;
	width:161px;
	height:218px;
	padding:15px 12px 5px 8px;
}

.setletThumb_Large div{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

.setletDetails_Large{
	text-align:center;
}

.setletDetails_Large a{
	font-size:1.3em;
	font-weight: bold;
}


/* ------------------------------------------------------- *
 * - VIEWSET --------------------------------------------- *
 * ------------------------------------------------------- */



.viewset_shareLink{
	position: absolute;
	right:32px;
	top:62px;
}

#viewset_createdBy{
	margin-top:-8px;
	margin-bottom:15px;
}

#viewset_leftCol {
	float:left;
	width: 300px;
	margin-top:20px;
}

#viewset_rightCol {
	width:425px;	
	float:right;
	margin-top:40px;
}

#viewset_thumbnails {
	margin-top:20px;
}

#viewset_noThumbnails{
	font-style:italic;
}

.viewset_objectThumb{
	float:left;
	padding:5px;
	border:1px solid #cdcdc9;
	margin-right:10px;
	margin-bottom:10px;
	cursor:pointer;
}

.viewset_objectThumbSelected{
	border:1px solid #00a6e6;
}

.viewset_setDescription{
	margin-bottom:20px;
}
.viewset_setNoDescription{
	font-style:italic;
}

.viewset_descTextarea{
	width:100%;
	font-size:1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #61615F;
	height:100px;
	padding: 2px;
	border:1px solid #603913;
}

.viewset_titleInput{
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#00a6e6;
	line-height:1.2em;
	padding:2px 2px 2px 4px;
	border:1px solid #603913;
}

#viewset_detailsBox{
	margin:0px 25px 0px 10px;
	padding:15px 10px 20px 10px;
	border:1px solid #cdcdc9;
}

#viewset_objectDescription{
	margin-top:20px;
	margin-bottom:20px;
}

#viewset_objectDetaiLink{
	
}

#viewset_objectImage{
	height:360px;
}

.viewset_prevIcon{
	position:absolute;
	top:190px;
	right:429px;
}
.viewset_nextIcon{
	position:absolute;
	top:190px;
	right:19px;
}

/* ------------------------------------------------------- *
 * -- Impromptu settings ---------------------------------- *
 * ------------------------------------------------------- */

.jqifade{
	background-color: #ffffff;
}
div.jqi{
	position: absolute;
	background-color: #c0cEa6;
	padding: 10px;
	width: 300px;
}
div.jqi .jqicontainer{
	background-color: #e0eEc6;
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
}
div.jqi .jqimessage{
	background-color: #c0cEa6;
	padding: 10px;
}
div.jqi .jqibuttons{
	text-align: center;
	padding: 5px 0 0 0;
}
div.jqi button{
	padding: 3px 10px 3px 10px;
	margin: 0 10px;
}


/* ------------------------------------------------------- *
 * -- Admin Pages settings ------------------------------- *
 * ------------------------------------------------------- */

div.admin_hdr {
	padding-top:1px;
	padding-bottom:10px;
}

div.admin_hdr p#orient {
	color:#61615f;
	font-size:0.85em;
	font-weight: bold;
}

div.admin_hdr p#orient a {
	color:#0085c9;
}


/* ------------------------------------------------------- *
 * -- Tree view            ------------------------------- *
 * ------------------------------------------------------- */


div.tree ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0em;
	text-indent: 0em;
}
div.tree li {
 padding-left:16px;
}
div.tree li.parent ul {
 display:none;
 cursor:default;
}
div.tree li.parent {
 cursor:pointer !important;
 background:transparent url(../images/plus.gif) no-repeat top left;
}
div.tree li.expanded {
 background:transparent url(../images/minus.gif) no-repeat top left;
}
