<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" href="../style/delphi_style.css" type="text/css" />
<script type="text/JavaScript" src="script.js"></script>

<title></title>
</head>

<body>
<div id="header">
	<div id="logo"><h1>Delphi</h1></div>
	<!--
	<div id="search">
		<form action="" method="post">
			<input type="text" name="search" maxlength="40">
			<input type="submit" name="submit_search" value="Search">
		</form>
	</div>
	-->
	<div id="user"><a href="#">Register</a> &middot;<a href="#">Sign in</a> | Welcome <strong>USER</strong> &middot; <a href="#">My Account</a> &middot; <a href="#">Sign out</a></div>
</div>

<div id="content">
	<h2 id="detail_name">name</h2>
	<div id="detail_image">image</div>

	<div id="detail_information">
		<div>
			<h2>Information</h2>
			<h3>info type 1</h3>
			<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
			<h3>info type 2</h3>
			<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
			<h3>info type 3</h3>
			<ul>
				<li>point 1</li>
				<li>point 2</li>
				<li>point 3</li>
			</ul>
		</div>
		<div>
			<h2>More...</h2>
			<h3>info type 1</h3>
			<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
			<h3>info type 2</h3>
			<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
		</div>
	</div>

	<div id="detail_facetPath">
		<h2>facet 1</h2>
		<ul>
			<li>root</li>
			<ul>
				<li>one-deep</li>
				<ul>
					<li>two-deep</li>
				</ul>
			</ul>
		</ul>

		<h2>facet 2</h2>
		<ul>
			<li>root</li>
			<ul>
				<li>one-deep</li>
				<ul>
					<li>two-deep</li>
				</ul>
			</ul>
		</ul>

		<h2>facet 3</h2>
		<ul>
			<li>root</li>
			<ul>
				<li>one-deep</li>
				<ul>
					<li>two-deep</li>
				</ul>
			</ul>
		</ul>
	</div>
</div>

<div id="footer">footer</div>
</body>

</html>
