<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
	<title></title>
	<script type="text/javascript" src="../../../libs/jquery/jquery-latest.js"></script>
	<script type="text/javascript" src="../../../libs/jquery/jquery.tabs.pack.js"></script>
	<script type="text/javascript" src="../scripts/tabs.js"></script>
	
</head>

<body>
	<div id="container-1">
		<ul class="tabs-nav">
			<li class="tabs-selected"><a href="#fragment-1">One</a></li>

			<li class=""><a href="#fragment-2">Two</a></li>

			<li class=""><a href="#fragment-3">Three</a></li>
		</ul>

		<div style="display: block;" class="tabs-container" id="fragment-1">
			<p>First tab is active by default:</p>
		</div>

		<div style="" class="tabs-container tabs-hide" id="fragment-2">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</div>

		<div style="" class="tabs-container tabs-hide" id="fragment-3">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</div>
	</div>
</body>
</html>
