 div.tree { cursor:default; height:100%; }
 div.tree div.facet { border-bottom: solid 1 blue; padding-bottom: 2px; font-weight:bold; font-size:normal; }
 div.facet div.treeitem { cursor:default; position:relative; left:15px;  font-size:normal; overflow:auto; width:300px;
 					border-bottom:none 0 ; margin:0; padding:0;}
 div.open span img, div.closed span img { cursor:pointer;}
 div.treeitem span a { text-decoration:none; color:	black;  font-size:normal;font-weight:normal; }
 div.open span a:hover, div.closed span a:hover { color:blue; text-decoration:underline;}
 div.open  img.open { display:inline-block;}
 div.open  img.closed { display:none;}
 div.closed img.closed { display:inline-block;}
 div.closed img.open { display:none;}
 div.open div.treeitem { display: block; }
 div.closed div.treeitem { display: none; }

