<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" href="../style/delphi_style.css" type="text/css" />
<script type="text/JavaScript" src="script.js"></script>

<title></title>
</head>

<body>
<div id="header">
	<div id="logo"><h1>Delphi</h1></div>
	<!--
	<div id="search">
		<form action="" method="post">
			<input type="text" name="search" maxlength="40">
			<input type="submit" name="submit_search" value="Search">
		</form>
	</div>
	-->
	<!-- <div id="user"><a href="#">Register</a> &middot;<a href="#">Sign in</a> | Welcome <strong>USER</strong> &middot; <a href="#">My Account</a> &middot; <a href="#">Sign out</a></div> -->
	<div id="user">Welcome <strong>USER</strong></div>
</div>

<div id="content">
	<div id="front_links"><h2><a href="./browser.html">Browse Collections</a></h2></div>

	<div id="front_featuredSets">
		<h2>Featured Sets</h2>
		<div>
			<h3><a href="#">Minotaur</a></h3>
			<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
		</div>
		<div>
			<h3><a href="#">Coins</a></h3>
			<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
		</div>
	</div>

	<div id="front_examples">
		<h2>Some objects from the collection</h2>
		<div class="front_example">
			<h3 class="front_exampleName">Name</h3>
			<div class="front_exampleThumbnail">
				image
			</div>
		</div>
		<div class="front_example">
			<h3 class="front_exampleName">Name</h3>
			<div class="front_exampleThumbnail">
				image
			</div>
		</div>
		<div class="front_example">
			<h3 class="front_exampleName">Name</h3>
			<div class="front_exampleThumbnail">
				image
			</div>
		</div>
		<div class="front_example">
			<h3 class="front_exampleName">Name</h3>
			<div class="front_exampleThumbnail">
				image
			</div>
		</div>
		<div class="front_example">
			<h3 class="front_exampleName">Name</h3>
			<div class="front_exampleThumbnail">
				image
			</div>
		</div>
		<div class="front_example">
			<h3 class="front_exampleName">Name</h3>
			<div class="front_exampleThumbnail">
				image
			</div>
		</div>
	</div>
</div>

<div id="footer">footer</div>
</body>

</html>
