<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" href="../../style/delphi_style_test.css" type="text/css" />
<script type="text/JavaScript" src="script.js"></script>

<script type="text/javascript" src="/delphi/trunk/libs/jquery/jquery-latest.js"></script>
<script type="text/javascript" src="/delphi/trunk/libs/jquery/jquery.tabs.pack.js"></script>
<script type="text/javascript" src="/delphi/trunk/themes/pahma/scripts/tabs.js"></script>

<title></title>
</head>

<body>
<div id="header">
	<div id="logo"><h1>Delphi</h1></div>
	<!--
	<div id="search">
		<form action="" method="post">
			<input type="text" name="search" maxlength="40">
			<input type="submit" name="submit_search" value="Search">
		</form>
	</div>
	-->
	<!-- <div id="user"><a href="#">Register</a> &middot;<a href="#">Sign in</a> | Welcome <strong>USER</strong> &middot; <a href="#">My Account</a> &middot; <a href="#">Sign out</a></div> -->
	<div id="user">Welcome <strong><a href="#">John Doe</a></strong></div>
	<!-- <div id="sets"><a href="#">My Sets</a></div> -->
	<br class="clearbreak" />
</div>

<div id="content">
	<h2 id="detail_name">name</h2>

	<div id="inner_content">
		<div id="detail_imageColumn">
			<div id="detail_image">image</div>
			<div id="detail_thumbnails">
				<div id="detail_thumbnailSelectedContainer">
					<div id="detail_thumbnailSelected">selected view</div>
				</div>
				<div class="detail_thumbnail">alt view 1</div>
				<div class="detail_thumbnail">alt view 2</div>
				<div class="detail_thumbnail">alt view 3</div>
				<div class="detail_thumbnail">alt view 4</div>
				<div class="detail_thumbnail">alt view 5</div>
			</div>
		</div>

		<div id="detail_information">
			<ul class="tabs-nav">
				<li class="tabs-selected"><a href="#">Information</a></li>
				<li class=""><a href="#">More ...</a></li>
			</ul>

			<div style="display: block;" class="tabs-container" id="fragment-1">
				<p>First tab is active by default:</p>
				<h3>info type 1</h3>
				<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
				<h3>info type 2</h3>
				<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
				<h3>info type 3</h3>
				<ul>
					<li>point 1</li>
					<li>point 2</li>
					<li>point 3</li>
				</ul>
			</div>

			<div style="" class="tabs-container tabs-hide" id="fragment-2">
				<h3>info type 1</h3>
				<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
				<h3>info type 2</h3>
				<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo.</p>
			</div>
		</div>

		<div id="detail_facetPath">
			<h2>facet 1</h2>
			<ul>
				<li>root</li>
				<ul>
					<li>one-deep</li>
					<ul>
						<li>two-deep</li>
					</ul>
				</ul>
			</ul>

			<h2>facet 2</h2>
			<ul>
				<li>root</li>
				<ul>
					<li>one-deep</li>
					<ul>
						<li>two-deep</li>
					</ul>
				</ul>
			</ul>

			<h2>facet 3</h2>
			<ul>
				<li>root</li>
				<ul>
					<li>one-deep</li>
					<ul>
						<li>two-deep</li>
					</ul>
				</ul>
			</ul>
		</div>
	</div>
</div>

<div id="footer">footer</div>
</body>

</html>
