<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" href="../../style/delphi_style.css" type="text/css" />
<script type="text/JavaScript" src="script.js"></script>

<title></title>
</head>

<body>
<div id="header">
	<div id="logo"><h1>Delphi</h1></div>
	<!--
	<div id="search">
		<form action="" method="post">
			<input type="text" name="search" maxlength="40">
			<input type="submit" name="submit_search" value="Search">
		</form>
	</div>
	-->
	<!-- <div id="user"><a href="#">Register</a> &middot;<a href="#">Sign in</a> | Welcome <strong>USER</strong> &middot; <a href="#">My Account</a> &middot; <a href="#">Sign out</a></div> -->
	<div id="user">Welcome <strong>USER</strong></div>
	<br style="clear:both;" />
</div>

<div id="content">
	<div id="browser_facetTree">
		<h2>Facet Tree goes here</h2>
	</div>

	<div id="browser_help">
		<div>
			<h2>Instructions</h2>
			<p>Lorem ipsum dolor sit amet, proprius ut patria vel vulputate esse consequat gemino, indoles, blandit veniam ymo, gemino refoveo. Modo abigo transverbero sed quis reprobo dolore. Ille tation sed sudo, ludus pneum. Valde roto, epulae epulae iusto et commodo tamen genitus, quod nisl illum nutus. Commoveo, facilisis nimis volutpat vel ingenium capto roto olim neque iusto praesent letalis fere. Saepius, transverbero nutus ullamcorper hendrerit nisl damnum zelus antehabeo, hendrerit. Ullamcorper obruo wisi te facilisi mara blandit quis vulpes. Luptatum esca duis quia adsum delenit dolor obruo probo suscipere. Jugis capto metuo iustum lenis delenit hendrerit. Duis in ymo immitto scisco nimis, olim lobortis inhibeo sed ullamcorper meus nobis.</p>

			<h2 class="browser_exampleName">random example result</h2>
			<div class="browser_exampleThumbnail">image</div>
			<h2>facet</h2>
			<ul>
				<li>root</li>
				<ul>
					<li>one-deep</li>
					<ul>
						<li>two-deep</li>
					</ul>
				</ul>
			</ul>
		</div>
	</div>

	<br style="clear:both;" />
</div>

<div id="footer">footer</div>
</body>

</html>
